@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto&display=swap');

html,body{
  margin:0;
  padding:0;
  min-height:100vh;
  background: linear-gradient(#2b1055,#7597de);
  color:#543d7b;
  font-family: "Roboto", serif;
}

.image-inverted{
  filer: invert(100%);
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

/* remove the rotate stuff */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.mountains_front {
  object-fit: "cover";
}

