@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,body{
  margin:0;
  padding:0;
  min-height:100vh;
  /* background: linear-gradient(#2b1055,white); */
  background: rgb(242, 234, 234);
  color:#543d7b;
  font-family: "Space Grotesk", sans-serif;
}

.image-inverted{
  filer: invert(100%);
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

/* .mountains_front {
  object-fit: "cover";
} */

.diversity {
  object-fit: "cover";
}

.tobias {
  display: 'flex',
  /* justifyContent: 'flex-start' */
}

